// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2016, 2018 The Linux Foundation. All rights reserved.
 * Copyright (c) 2016 Google, Inc
 */

#include "qcom-ipq4019.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Google路由器";
	compatible = "google,wifi", "google,gale-v2", "qcom,ipq4019";

	chosen {
		stdout-path = &blsp1_uart1;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512MB */
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		rsvd@87000000 {
			/* Reserved for other subsystem */
			reg = <0x87000000 0x01000000>;
			no-map;
		};
	};

	soc {
		blsp_dma: dma@7884000 {
			status = "okay";
		};

		usb3: usb3@8af8800 {
			status = "okay";
		};

		usb2: usb2@60f8800 {
			status = "okay";
		};

		rng@22000 {
			status = "okay";
		};

		ess-switch@c000000 {
			status = "okay";
		};

		edma@c080000 {
			status = "okay";
		};

		ess-psgmii@98000 {
			status = "okay";
		};

		watchdog@b017000 {
			status = "okay";
		};
	};
};

&tlmm {
	fw_pinmux {
		wp {
			pins = "gpio53";
			output-low;
		};
		recovery {
			pins = "gpio57";
			bias-none;
		};
		developer {
			pins = "gpio41";
			bias-none;
		};
	};

	reset802_15_4 {
		pins = "gpio60";
	};

	led_reset {
		pins = "gpio22";
		output-high;
	};

	sys_reset {
		pins = "gpio19";
		output-high;
	};

	rx_active {
		pins = "gpio43";
		bias-pull,down;
	};

	spi_0_pins: spi_0_pinmux {
		pinmux {
			function = "blsp_spi0";
			pins = "gpio13", "gpio14","gpio15";
		};
		pinmux_cs {
			function = "gpio";
			pins = "gpio12";
		};
		pinconf {
			pins = "gpio13", "gpio14","gpio15";
			drive-strength = <12>;
			bias-disable;
		};
		pinconf_cs {
			pins = "gpio12";
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	};

	spi_1_pins: spi_1_pinmux {
		pinmux {
			function = "blsp_spi1";
			pins = "gpio44", "gpio46","gpio47";
		};
		pinmux_cs {
			function = "gpio";
			pins = "gpio45";
		};
		pinconf {
			pins = "gpio44", "gpio46","gpio47";
			drive-strength = <12>;
			bias-disable;
		};
		pinconf_cs {
			pins = "gpio45";
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	};

	serial_0_pins: serial0_pinmux {
		mux {
			pins = "gpio16", "gpio17";
			function = "blsp_uart0";
			bias-disable;
		};
	};

	serial_1_pins: serial1_pinmux {
		mux {
			pins = "gpio8", "gpio9", "gpio10", "gpio11";
			function = "blsp_uart1";
			bias-disable;
		};
	};

	i2c_0_pins: i2c_0_pinmux {
		mux {
			pins = "gpio20", "gpio21";
			function = "blsp_i2c0";
			drive-open-drain;
		};
	};

	i2c_1_pins: i2c_1_pinmux {
		mux {
			pins = "gpio34", "gpio35";
			function = "blsp_i2c1";
			drive-open-drain;
		};
	};

	sd_0_pins: sd_0_pinmux {
		sd0 {
			pins = "gpio23", "gpio24", "gpio25", "gpio26", "gpio29", "gpio30", "gpio31", "gpio32";
			function = "sdio";
			drive-strength = <10>;
			bias-pull-up;
			pull-up-res = <0>;
		};
		sdclk {
			pins = "gpio27";
			function = "sdio";
			drive-strength = <2>;
			bias-pull-up;
			pull-up-res = <0>;
		};
		sdcmd {
			pins = "gpio28";
			function = "sdio";
			drive-strength = <10>;
			bias-pull-up;
			pull-up-res = <0>;
		};
	};

	mdio_pins: mdio_pinmux {
		mux_1 {
			pins = "gpio6";
			function = "mdio";
			bias-disable;
		};
		mux_2 {
			pins = "gpio7";
			function = "mdc";
			bias-disable;
		};
		mux_3 {
			pins = "gpio40";
			function = "gpio";
			bias-disable;
			output-high;
		};
	};

	wifi1_1_pins: wifi2_pinmux {
		mux {
			pins = "gpio58";
			output-low;
		};
	};
};

&blsp1_i2c3 {
	pinctrl-0 = <&i2c_0_pins>;
	pinctrl-names = "default";
	status = "okay";

	trusted-platform-module@20 {
		compatible = "infineon,slb9645tt";
		reg = <0x20>;
		powered-while-suspended;
	};
};

&blsp1_i2c4 {
	pinctrl-0 = <&i2c_1_pins>;
	pinctrl-names = "default";
	status = "okay";

	lp55231@32 {
		compatible = "national,lp5523";
		reg = <0x32>;
		clock-mode = [01];

		chan0 {
			chan-name = "LED0_Red";
			led-cur = [64];
			max-cur = [78];
		};

		chan1 {
			chan-name = "LED0_Green";
			led-cur = [64];
			max-cur = [78];
		};

		chan2 {
			chan-name = "LED0_Blue";
			led-cur = [64];
			max-cur = [78];
		};

		chan3 {
			chan-name = "LED1_Red";
			led-cur = [64];
			max-cur = [78];
		};

		chan4 {
			chan-name = "LED1_Green";
			led-cur = [64];
			max-cur = [78];
		};

		chan5 {
			chan-name = "LED1_Blue";
			led-cur = [64];
			max-cur = [78];
		};

		chan6 {
			chan-name = "LED2_Red";
			led-cur = [64];
			max-cur = [78];
		};

		chan7 {
			chan-name = "LED2_Green";
			led-cur = [64];
			max-cur = [78];
		};

		chan8 {
			chan-name = "LED2_Blue";
			led-cur = [64];
			max-cur = [78];
		};
	};
};

&blsp1_spi1 {
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&tlmm 12 0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <24000000>;
	};
};

&blsp1_spi2 {
	pinctrl-0 = <&spi_1_pins>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&tlmm 45 0>;

	spidev@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <24000000>;
	};
};

&blsp1_uart1 {
	pinctrl-0 = <&serial_0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&blsp1_uart2 {
	pinctrl-0 = <&serial_1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&gmac0 {
	qcom,phy_mdio_addr = <4>;
	qcom,poll_required = <1>;
	qcom,forced_speed = <1000>;
	qcom,forced_duplex = <1>;
	vlan_tag = <2 0x20>;
};

&gmac1 {
	qcom,phy_mdio_addr = <3>;
	qcom,forced_duplex = <1>;
	vlan_tag = <1 0x10>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
};

&sdhci {
	status = "okay";
	pinctrl-0 = <&sd_0_pins>;
	pinctrl-names = "default";
	clock-frequency = <192000000>;
	vqmmc-supply = <&vqmmc>;
	non-removable;
};

&usb2_hs_phy {
	status = "okay";
};

&usb3_ss_phy {
	status = "okay";
};

&usb3_hs_phy {
	status = "okay";
};

&vqmmc {
	status = "okay";
};

&wifi0 {
	status = "okay";
};

&wifi1 {
	status = "okay";
	pinctrl-0 = <&wifi1_1_pins>;
	pinctrl-names = "default";
};
